<app-overlay>
  <div
    class="p-4 bg-white rounded-xl relative max-w-sm w-full flex flex-col gap-4"
  >
    <h3 class="text-xl font-bold">อัปเดตหมวดหมู่</h3>
    <form [formGroup]="form">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <span class="px-4 py-2 rounded-lg border w-full bg-zinc-200">{{
            category.key
          }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <input
            type="text"
            formControlName="categoryName"
            class="px-4 py-2 rounded-lg border w-full"
            placeholder="ชื่อหมวดหมู่ (ต้องระบุ)"
          />
          <div
            *ngIf="
              categoryName.invalid &&
              (categoryName.dirty || categoryName.touched)
            "
            class="text-red-500 text-sm"
          >
            <div *ngIf="categoryName.hasError('required')">
              {{ requiredNameInvalidText }}
            </div>
          </div>
        </div>
        <input
          type="file"
          accept="image/*"
          (input)="onFileInput($event)"
          class="hidden"
          #coverFileInput
        />
        <button
          *ngIf="!coverFileSrc; else coverImage"
          (click)="coverFileInput.click()"
          class="px-4 py-2 rounded-lg border-2 border-dashed font-semibold h-36 text-zinc-400 hover:text-zinc-500 flex gap-4 justify-center items-center"
        >
          <span class="material-symbols-rounded"> add_a_photo </span>
          เพิ่มภาพปก
        </button>
      </div>
    </form>
    <div class="flex justify-end gap-4">
      <button (click)="closePanel()" class="px-4 py-2 rounded-lg font-semibold">
        ยกเลิก
      </button>
      <button
        (click)="update()"
        [disabled]="form.invalid || categoryName.value === category.label"
        class="px-4 py-2 rounded-lg font-semibold bg-yellow-600 text-white hover:bg-yellow-700 disabled:bg-zinc-300"
      >
        อัปเดต
      </button>
    </div>
  </div>
</app-overlay>

<ng-template #coverImage>
  <div class="h-36 rounded-lg overflow-hidden border relative">
    <img
      [src]="coverFileSrc"
      class="w-full h-full object-cover object-center"
    />
    <div class="absolute bottom-2 right-2 flex gap-4 items-center">
      <button
        (click)="coverFileInput.click()"
        class="p-2 rounded-full flex items-center text-yellow-600 bg-yellow-50 hover:bg-yellow-100 shadow"
      >
        <span class="material-symbols-rounded"> change_circle </span>
      </button>
      <button
        (click)="clearCoverFile()"
        class="p-2 rounded-full flex items-center text-red-600 bg-red-50 hover:bg-red-100 shadow"
      >
        <span class="material-symbols-rounded"> delete </span>
      </button>
    </div>
  </div>
</ng-template>
