@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('./assets/fonts/NotoSansThai.ttf');
}

@font-face {
  font-family: "Material Symbols Rounded";
  src: url("./assets/fonts/MaterialSymbolsRounded.woff2");
}

body {
    font-family: 'Noto Sans Thai';
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.FILL {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
